# 基础路径配置
base_paths:
  data_dir: './VADERdata'
  tensorboard_dir: 'tensorboard_logs'
  model_dir: 'models'
  result_dir: './results'
  pth_dir: 'pth'
  plot_dir: 'plot'
  txt_dir: 'txt'

# 模型参数配置
model_params:
  latent_dim: 10
  intermediate_dim: [512,1024,2048]
  learning_rate: 1.0e-4
  use_lr_scheduler: False
  batch_size: 128
  epochs: 1000
  device: "cuda:0"
  encoder_type: "basic"
  pretrain_epochs: 300
  clustering_method: 'leiden'
  resolution_1: 0.8
  resolution_2: 0.8

  basic_parameters:
    latent_dim: 10
    intermediate_dim: [512,1024,2048]
  cnn_parameters:
    cnn1: 32
    cnn2: 64
    cnn3: 128
  advanced_parameters:
    cnn1: 32
    cnn2: 64
    cnn3: 128

# 权重调度器配置
weight_scheduler:
  init_weights:
    lamb1: 1000    # 重构损失
    lamb2: 1     # GMM先验的KL散度  
    lamb3: 1      # VAE的KL散度
    lamb4: 2000      # GMM熵项
    lamb5: 0    # 峰加权损失，替换Recon_Loss
    lamb6: 0    # Match Loss of S
    lamb7: 0    # Unsimilarity between S
  max_weights:
    lamb1: 1000   # 重构损失
    lamb2: 1      # GMM先验的KL散度   
    lamb3: 1      # VAE的KL散度
    lamb4: 2000    # GMM熵项
    lamb5: 0    # 峰加权损失，替换Recon_Loss
    lamb6: 0    # Match Loss of S
    lamb7: 0    # Unsimilarity between S


# 训练配置
train_config:
  start_epoch: 0
  save_interval: 100
  early_stop_patience: 20
  min_loss_threshold:
    total: 0.5
    recon: 0.02
  tsne_plot: True
  recon_plot: True

# 可视化配置
vis_config:
  figsize: [15, 5]
  dpi: 500
  wavenumber_ticks: [500, 750, 1000, 1250, 1500, 1750]
